.progressBar {
  position: relative;
  width: 278px;
  min-width: 278px;
  height: 36px;
  border-radius: 22px;
}

.blue {
  background: rgb(86, 94, 239);
  background: linear-gradient(90deg, rgba(86, 94, 239, 1) 45%, rgba(237, 236, 255, 1) 45%);
  border: 2px solid #565eef;
}

.orange {
  background: rgb(255, 109, 0);
  background: linear-gradient(90deg, rgba(255, 109, 0, 1) 45%, rgba(255, 242, 224, 1) 45%);
  border: 2px solid #ff6d00;
}

.purple {
  background: rgb(154, 72, 241);
  background: linear-gradient(90deg, rgba(154, 72, 241, 1) 45%, rgba(249, 235, 255, 1) 45%);
  border: 2px solid #9a48f1;
}

.green {
  background: rgb(37, 143, 51);
  background: linear-gradient(90deg, rgb(19, 102, 44) 45%, rgba(249, 235, 255, 1) 45%);
  border: 2px solid #42a342;
}

.yellow {
  background: rgb(193, 215, 0);
  background: linear-gradient(90deg, rgb(208, 245, 59) 45%, rgba(249, 235, 255, 1) 45%);
  border: 2px solid #e6f764;
}

.red {
  background: rgb(255, 27, 27);
  background: linear-gradient(90deg, rgb(241, 72, 72) 45%, rgba(249, 235, 255, 1) 45%);
  border: 2px solid #f76464;
}

.percents {
  position: absolute;
  left: 25%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
