.progressBar {
  position: relative;
  width: 278px;
  min-width: 278px;
  height: 36px;
  border-radius: 22px;
}

.blue {
  background: rgb(86, 94, 239);
  background: linear-gradient(90deg, rgba(86, 94, 239, 1) 45%, rgba(237, 236, 255, 1) 45%);
  border: 2px solid #565eef;
}

.orange {
  background: rgb(255, 109, 0);
  background: linear-gradient(90deg, rgba(255, 109, 0, 1) 45%, rgba(255, 242, 224, 1) 45%);
  border: 2px solid #FF6D00;
}

.purple {
  background: rgb(154, 72, 241);
  background: linear-gradient(90deg, rgba(154, 72, 241, 1) 45%, rgba(249, 235, 255, 1) 45%);
  border: 2px solid #9A48F1;
}

.percents {
  position: absolute;
  left: 25%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
