.button {
  width: 147px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Bahnschrift', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  color: #000000;
  background: #c7e957;
  border-radius: 46px;
  border: 0;
}

.buttonPositioned {
  composes: button;
  position: absolute;
  z-index: 1;
  bottom: 27px;
  left: 30px;
}

.buttonPositioned:hover {
  background: #daf289;
  cursor: pointer;
}

.buttonPositioned:active {
  background: #ebffab;
}

.button:hover {
  background: #daf289;
  cursor: pointer;
}

.button:active {
  background: #ebffab;
}
