.main {
  min-height: 100vh;
  width: 100%;
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  background: #271a58;
}

.cardsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
