.page {
  position: absolute;
}

.page-enter {
  opacity: 1;
}

.page-enter-active {
  animation: fade-in 1s forwards;
}

.page-exit {
  opacity: 0;
}

.page-exit-active {
  animation: fade-out 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
