.container {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
  background: #271a58;
  /* тут можно через контекст или редакс менять цвет у главного контейнера в зависимости от страницы, ну или кто-то может по своей логике отцентрировать, чтобы без этих действий было :) */
}
